@font-face {
    font-family: 'textfont';
    src: url('textfont.otf');
  } 
  .title {
    margin-top: 2rem;
    font-family: 'textfont';
    text-align: center;
    font-size: 41px;
    text-decoration: none;
    color: #000000;
  }
  p {
    margin-top: 65px;
    padding: 40px;
    font-family:'textfont';
    font-size: 35px;
    text-align: left;
  }
  .desc {
    max-width: 52rem;
    line-height: 2.9rem;
  }
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'textfont';
    margin-top: 2rem;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li a {
    color:#000000;
    text-decoration: none;
    font-size: 20px;
  }

  nav li a:hover {
    color: #e3caac;;
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}
.footer p {
    font-size: 20px;
    margin-left: 20px;
}
h2 {
    font-family:'textfont';
}
