
/* Title, Nav Bar */
@font-face {
    font-family: 'textfont';
    src: url('textfont.otf');
  } 
  .title {
    margin-top: 2rem;
    font-family: 'textfont';
    text-align: center;
    font-size: 41px;
    text-decoration: none;
    color: #000000;
  }
  p {
    padding: 40px;
    font-family:'textfont';
    font-size: 50px;
    text-align: left;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'textfont';
    margin-top: 2rem;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li a {
    color:#000000;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav li a:hover {
    color:#e3caac;;
  }

h2 {
    font-family:'textfont';
}

/* Post */
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section {
    padding: 6rem 0 2rem;
}
.post {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
}
.post-box {
    background-color: #e3caac;
    box-shadow: 0 4px 14px hsla(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
    max-height: 26rem;
}
.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5;
}
.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}
.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: ver;
    overflow: hidden;
    font-family: 'textfont';
    text-decoration: none;
}
.post-date {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
    font-family: 'textfont';
}
.post-description {
    font-size: 0.9rem;
    line-height: 1.3rem;
    display: -webkit-flex;
    -webkit-line-clamp: 3;
    -webkit-box-orient: ver;
    overflow: hidden;
    font-family: 'textfont';
}
.profile {
    display: flex;
    align-items:center;
    gap: 10px;
}
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* Footer + Social*/
.disclaimer {
    max-width: 1000px;
    font-size: 20px;

}

/* Post Content */
.post-header {
    width: 100%;
    height: 500px;
}
.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.back-home {
    font-size: 0.9rem;

}
.header-title {
    width: 90%;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 1rem;
}
.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}
.post-content {
    margin-top: 10rem !important;
}
.sub-heading {
    font-size: 1.6rem;
    line-height: 4em;
}
.post-text {
    font-size: 1.2em;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

